node_modules/
build/
dist/
.out/
.next/
.cache/
.eslintcache
vite-cache/
.cache-loader/
coverage/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
Desktop.ini
**/node_modules/
**/dist/
**/logs/
**/.vite/
*.tmp
*.temp
~$* 